<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let pelicula of favoritoGenero">

    <ion-grid *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h4>{{ pelicula.genero }}</h4>
        </ion-col>
      </ion-row>

      <!-- Swiper Container -->
      <swiper
        [slidesPerView]="3"
        [spaceBetween]="10"
        [navigation]="true"
        [pagination]="{ clickable: true }"
        style="height: 250px;">

        <ng-template swiperSlide *ngFor="let peli of pelicula.pelis">
          <ion-card style="height: 220px; width: 150px;" (click)="verDetalle(peli.id + '')" >
            <img [src]="'https://image.tmdb.org/t/p/w500' + peli.poster_path" />
            <ion-card-header  >
              <ion-card-title>{{ peli.title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ng-template>

      </swiper>

    </ion-grid>

  </div>

</ion-content>
